
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
nav {
    width: 1440px;
    height: 70px;
    box-shadow: 0 6px 14px 0 rgba(0, 0, 0, 0.4);
    background-color: #252525;
}
header {
    width: 1440px;
    height: 70px;
    object-fit: contain;
}
.bitmap {
    float: left;
    width: 140px;
    height: 33px;
    object-fit: contain;
    background-color: #252525;
    padding: 10px 0;
}

nav {
    float: right;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 70px;
    padding-top: 25px;
    position: relative;
}

nav a {
    color: #ffffff;
    text-decoration: none;
}
.noticias {
    width: 102px;
    height: 26px;
    font-family: Jost;
    font-size: 18px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.44;
    letter-spacing: normal;
    color: #ffffff;
}
.reviews {
    width: 97px;
    height: 26px;
    font-family: Jost;
    font-size: 18px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.44;
    letter-spacing: normal;
    color: #ffffff;
}
.podcast {
    width: 94px;
    height: 26px;
    font-family: Jost;
    font-size: 18px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.44;
    letter-spacing: normal;
    color: #ffffff;
}
.eventos {
    width: 94px;
    height: 26px;
    font-family: Jost;
    font-size: 18px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.44;
    letter-spacing: normal;
    color: #ffffff;
}
.contacto {
    width: 103px;
    height: 26px;
    font-family: Jost;
    font-size: 18px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.44;
    letter-spacing: normal;
    color: #ffffff;
}
.facebook {
    width: 13px;
    height: 22px;
    object-fit: contain;
}
.twitter {
    width: 24px;
    height: 20px;
    object-fit: contain;
}
.instagram {
    width: 22px;
    height: 22px;
    object-fit: contain;
}
.headphones {
    width: 20px;
    height: 20px;
    object-fit: contain;
}

@media only screen and (max-width: 480px) {
    body {
    font-size: 12px;
    }
}