
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* MOBILE VERSION */
@media only screen and (max-width: 600px) {
    body {
    background-color: white;
    }
    .search-box {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 50%);
        background: #252525;
        height: 40px;
        border-radius: 40px;
        padding: 10px;
    }
    .search-btn {
        color: #17f6e8;
        float: right;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background: #252525;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    header {
        background-color: #252525;
    }
    #logo {
        margin: 10px auto 0px auto;
        display: block;
        width: 125px;
        color: #17f6e8;
        background-color: #252525;
    }
}
/* DESKTOP VERSION */
@media only screen and (min-width: 768px) {

}